<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
  </head>
  <body>
    <%= form_with model: @user do |form| %>
      <div>
        <%= form.label :username %><br>
        <%= form.text_field :username %>
        <% @user.errors.full_messages_for(:username).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>
      <br>
      <div>
        <%= form.label :email %><br>
        <%= form.text_field :email %>
        <% @user.errors.full_messages_for(:email).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>
      <br>
      <div>
        <%= form.label :password %><br>
        <%= form.password_field :password %>
        <% @user.errors.full_messages_for(:password).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>
      <br>
      <div>
        <%= form.submit %>
      </div>
    <% end %>

  </body>
</html>
